<template>
  <v-app id="app">
    <router-view></router-view>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({
    //
  }),

  methods: {}
};
</script>
<style lang="scss">
// @font-face {
//   font-family: "Roboto";
//   src: local("Roboto"), url(./assets/font/Roboto-Regular.ttf) format("truetype");
// }
// @import "./styles/scss/index.scss";
</style>
